.welcome__profil.profil
    .profil__pic
        img(src="assets/images/img/03.jpg", alt="avatar").photo__avatar.visually-hidden
    .profil__desc
        h3.profil__title  Ахметова Гузель 
        p.profil__text Личный сайт веб разработчика