ul.socials

    li.socials__item
        a.socials__link(href="vk.com" title="Моя страница Вконтакте")
            svg.svg.socials__svg(width="31" height="17")
                use(xlink:href="images/sprite.svg#vk")
    li.socials__item
        a.socials__link(href="github.com"  title="Моя страница GitHub")
            svg.svg.socials__svg(width="26" height="22")
                use(xlink:href="images/sprite.svg#github")
    li.socials__item
        a.socials__link(href="#"  title="Моя страница LinkedIn")
            svg.svg.socials__svg(width="24" height="22")
                use(xlink:href="images/sprite.svg#in")
