extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    section.section.welcome
        h1 Главная 
        form
            label(for="email") email
            input(name="email" id="email")
            label(for="password") password
            input(name="password" id="password")
            button.login Авторизоваться

