extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    section.section.welcome
        h2.welcome__title.visually-hidden  Портфолио разработчика
        button.welcome__login Авторизоваться
        .welcome__flipper.flipper
            .welcome__desc.profil
                .profil__pic
                    img(src="assets/images/img/03.jpg", alt="avatar").photo__avatar.visually-hidden
                h3.profil__title  Ахметова Гузель 
                p.profil__text Личный сайт веб разработчика


