.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.title-fio {
   font-family: robotomedium;
   font-size: rem(28px); 
   color: $white;
   font-weight: 500;
}
.copyright {
    font-family: 'robotoregular';
    color: rgba(255, 255, 255, 0.7);
}
.container {
    width: 95%;
    margin: 0 auto;
    max-width:  rem(960px);
}
.block-subtitle {
    font-size: 35px;
    color: #566358;
    font-family: 'sansus_webissimoregular';
    text-transform: uppercase;
}
.hero__container {
width: 95%;
margin: 0 auto;
/* height: 100%; */
max-width: 60rem;
display: flex;
align-items: center;
justify-content: center;
}